*
!*/

# simulation stuff
!*.toml
!*.py
!*.rs

# website stuff
!*.ts
!*.js
!*.html
!*.css

# database
!*.sql
!*.json
!*.mjs
!*.prisma
!*.yml

# app
!*pit-app

# assets
!*.ico
!*.css
!*.tsx
!*.svg
!*.png
!*.jpg

# test resources
!*.txt

# project organisation stuff
!*/.gitignore
!.gitconfig
!init
!entr_script
!git-hooks/**

# stuff that falls into the previous categories we still want to ignore
*/target/*
*/build/*
*/*data*/*
*/*cache*/*
*/pkg/*
*/debug/*
*/.*/*
target/*
build/*
*data*/*
*cache*/*
pkg/*
debug/*